# .NET Core
bin/
obj/

# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.user
*.suo

# Mac OS
.DS_Store

# Rider
.idea/
*.sln.iml

# Logs
*.log
mapping_log.txt

# Documentation task files
docs/done_plans_tasks/
docs/notes/
